<div class="mt-5">
  <h1>Πρόγραμμα Μαθημάτων Εργαστηρίου</h1>

  <h2 class="mt-5">Χειμερινό Εξαμηνο</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">08:00-09:00</th>
        <th scope="col">09:00-10:00</th>
        <th scope="col">10:00-11:00</th>
        <th scope="col">11:00-12:00</th>
        <th scope="col">12:00-13:00</th>
        <th scope="col">13:00-14:00</th>
        <th scope="col">14:00-15:00</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Δευτέρα</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Tρίτη</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Τετάρτη</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Πέμπτη</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Παρασκευή</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <h2 class="mt-5">Εαρινό Εξαμηνο</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">08:00-09:00</th>
        <th scope="col">09:00-10:00</th>
        <th scope="col">10:00-11:00</th>
        <th scope="col">11:00-12:00</th>
        <th scope="col">12:00-13:00</th>
        <th scope="col">13:00-14:00</th>
        <th scope="col">14:00-15:00</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Δευτέρα</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Tρίτη</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Τετάρτη</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Πέμπτη</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">Παρασκευή</th>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>