<div class="mt-5">
  <p>
    Το εξειδικευμένο τεχνικό προσωπικό του εργαστηρίου, παρακολουθεί τις τεχνολογικές εξελίξεις και σχεδιάζει τις υποδομές του. 
    Επιπροσθέτως, εγκαθιστά, διαχειρίζεται και συντηρεί τον απαραίτητο για τη λειτουργία του υλικό εξοπλισμό (υπολογιστικά συστήματα, 
    δικτυακούς εξοπλισμούς, κεντρικούς αποθηκευτικούς χώρους υψηλής διαθεσιμότητας, κτλ). 
    Επίσης, εγκαθιστά διαχειρίζεται και συντηρεί τα απαραίτητα για τη λειτουργία του λογισμικά (λειτουργικά συστήματα, εφαρμογές, κτλ). 
    Τα συστήματα και οι υπηρεσίες του εργαστηρίου, φιλοξενούνται στους χώρους του Κέντρου Η/Υ του ΕΜΠ, οι οποίοι υποστηρίζονται από 
    μηχανισμούς αδιάλειπτης παροχής ηλεκτρικού ρεύματος (UPS) και Ηλεκτροπαραγωγούς ζεύγους (Η/z), έτσι ώστε να εξυπηρετούνται τα 
    μέλη της Σχολής καθημερινά και σε όλη τη διάρκεια του έτους. 
  </p>

  <dl>
    <dt>Υπολογιστικά συστήματα</dt>
    <dd>...</dd>

    <dt>Αποθηκευτικοί χώροι</dt>
    <dd>...</dd>  

    <dt>Δικτυακός εξοπλισμός</dt>
    <dd>...</dd>
  </dl>
</div>