<!-- Page content-->
<div class="container my-5">
  
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-11 col-xl-9 col-xxl-8">
      @if (images) {
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[0]" alt="Random first slide" class="rounded" />
            </div>
            <div class="carousel-caption">
              <h4>Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνικά Έργα</h4>
              <p>Επικοινωνία</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[1]" alt="Random second slide" class="rounded" />
            </div>
            <div class="carousel-caption">
              <h4>Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνικά Έργα</h4>
              <p>Επικοινωνία</p>
            </div>
          </ng-template>
        </ngb-carousel>
      }
    </div>
  </div>

  <div class="row gx-5 justify-content-center mt-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d661.1599641363954!2d23.778559878104275!3d37.976553722222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sgr!4v1704448476718!5m2!1sen!2sgr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <div class="col-lg-8 col-xl-6 mt-5">
      <pre>
        Εθνικό Μετσόβιο Πολυτεχνείο
        Σχολή Πολιτικών Μηχανικών
        Ηρώων Πολυτεχνείου 9
        157 80 ΖΩΓΡΑΦΟΥ 

        Ηλεκτρονική Διεύθυνση Επικοινωνίας
        dtclab&#64;mail.ntua.gr
      </pre>
    </div>
  </div>
</div>