<!-- Page content-->
<div class="container my-5">
  <!-- Contact form-->
  <div class="bg-light rounded-4 py-5 px-4 px-md-5">
    <div class="text-center mb-5">
      <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 mb-3">
        <i class="bi bi-envelope"></i>
      </div>
      <h1 class="fw-bolder">Επικοινωνία</h1>
      <p class="lead fw-normal text-muted mb-0">Κεντρικό Κτίριο Σχολής Πολιτικών Μηχανικών</p>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d661.1599641363954!2d23.778559878104275!3d37.976553722222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sgr!4v1704448476718!5m2!1sen!2sgr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-8 col-xl-6">
        <pre>
          Εθνικό Μετσόβιο Πολυτεχνείο
          Σχολή Πολιτικών Μηχανικών
          Ηρώων Πολυτεχνείου 9
          157 80 ΖΩΓΡΑΦΟΥ 

          Ηλεκτρονική Διεύθυνση Επικοινωνίας
          dtclab&#64;mail.ntua.gr
        </pre>
      </div>
    </div>
  </div>
</div>