<!-- Page Content-->
<div class="container px-5 my-5">
  <div class="text-center mb-5">
    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνικά Έργα </span></h1>
  </div>
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-11 col-xl-9 col-xxl-8">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <button ngbNavLink>Ιστορικό</button>
          <ng-template ngbNavContent>
            <p>
              Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
              master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
              keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
              salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            </p>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink>Κατασταστικό</button>
          <ng-template ngbNavContent>
            <p>
              Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
              master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro
              keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat
              salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.
            </p>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <button ngbNavLink>Κανονισμός Λειτουργίας</button>
          <ng-template ngbNavContent>
            <p>
              Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
              farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts
              ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
              helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson
              8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester
              stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.
            </p>
          </ng-template>
        </li>
        <li [ngbNavItem]="4">
          <button ngbNavLink>Εξοπλισμός</button>
          <ng-template ngbNavContent>
            <p>
              Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla facilisi.
              Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt eu, congue et odio.
              Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus ultrices et. Sed diam urna,
              egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor arcu. Vivamus faucibus nisl enim, nec
              tristique ipsum euismod facilisis. Morbi ut bibendum est, eu tincidunt odio. Orci varius natoque penatibus et
              magnis dis parturient montes, nascetur ridiculus mus. Mauris aliquet odio ac lorem aliquet ultricies in eget
              neque. Phasellus nec tortor vel tellus pulvinar feugiat.
            </p>
          </ng-template>
        </li>
        <li [ngbNavItem]="5">
          <button ngbNavLink>Προσωπικό</button>
          <ng-template ngbNavContent>
            <div class="card overflow-hidden shadow rounded-4 border-0 mb-5 mt-5">
              <div class="card-body p-0">
                  <div class="d-flex align-items-center">
                      <div class="p-5">
                          <h2 class="fw-bolder">Project Name 1</h2>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius at enim eum illum aperiam placeat esse? Mollitia omnis minima saepe recusandae libero, iste ad asperiores! Explicabo commodi quo itaque! Ipsam!</p>
                      </div>
                      <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                  </div>
              </div>
          </div>
          <div class="card overflow-hidden shadow rounded-4 border-0 mb-5">
            <div class="card-body p-0">
                <div class="d-flex align-items-center">
                    <div class="p-5">
                        <h2 class="fw-bolder">Project Name 1</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius at enim eum illum aperiam placeat esse? Mollitia omnis minima saepe recusandae libero, iste ad asperiores! Explicabo commodi quo itaque! Ipsam!</p>
                    </div>
                    <img class="img-fluid" src="https://dummyimage.com/300x400/343a40/6c757d" alt="..." />
                </div>
            </div>
        </div>
          </ng-template>
        </li>
      </ul>
      
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      
      <pre>Active: {{ active }}</pre>
    </div>
  </div>
</div>
