<!-- Page Content-->
<div class="container my-5">
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-11 col-xl-9 col-xxl-8">
      @if (images) {
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[0]" alt="Random first slide" class="rounded"/>
            </div>
            <div class="carousel-caption">
              <h4>Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνικά Έργα</h4>
              <p>Αίθουσα διδασκαλίας</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[1]" alt="Random second slide" class="rounded"/>
            </div>
            <div class="carousel-caption">
              <h4>Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνικά Έργα</h4>
              <p>Πράσινο εργαστήριο</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[2]" alt="Random third slide" class="rounded" />
            </div>
            <div class="carousel-caption">
              <h4>Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνικά Έργα</h4>
              <p>Rasberry Pi</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[3]" alt="Random third slide" class="rounded" />
            </div>
            <div class="carousel-caption">
              <h4>Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνικά Έργα</h4>
              <p>Ελάχιστο ενεργειακό αποτύπωμα</p>
            </div>
          </ng-template>
        </ngb-carousel>
      }
    </div>
  </div>
  <div class="row gx-5 justify-content-center mt-5">
    <div class="col-lg-11 col-xl-9 col-xxl-8">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <button ngbNavLink>Ιστορικό</button>
          <ng-template ngbNavContent>
            <app-history></app-history>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink>Σκοπός</button>
          <ng-template ngbNavContent>
            <app-law></app-law>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <button ngbNavLink>Κανονισμός Λειτουργίας</button>
          <ng-template ngbNavContent>
             <app-regulation></app-regulation>
          </ng-template>
        </li>
        <li [ngbNavItem]="4">
          <button ngbNavLink>Εξοπλισμός</button>
          <ng-template ngbNavContent>
            <app-hardware></app-hardware>  
          </ng-template>
        </li>
        <li [ngbNavItem]="5">
          <button ngbNavLink>Προσωπικό</button>
          <ng-template ngbNavContent>
            <app-staff></app-staff>
          </ng-template>
        </li>
      </ul>
      
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      
      <!-- <pre>Active: {{ active }}</pre> -->
    </div>
  </div>
</div>
