<!-- Page Content-->
<div class="container px-5 my-5">
  <div class="text-center mb-5">
    <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνικά Έργα </span></h1>
  </div>
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-11 col-xl-9 col-xxl-8">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <button ngbNavLink>Ιστορικό</button>
          <ng-template ngbNavContent>
            <app-history></app-history>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink>Θεσμοθέτηση</button>
          <ng-template ngbNavContent>
            <app-law></app-law>
          </ng-template>
        </li>
        <li [ngbNavItem]="3">
          <button ngbNavLink>Κανονισμός Λειτουργίας</button>
          <ng-template ngbNavContent>
             <app-regulation></app-regulation>
          </ng-template>
        </li>
        <li [ngbNavItem]="4">
          <button ngbNavLink>Εξοπλισμός</button>
          <ng-template ngbNavContent>
            <app-hardware></app-hardware>  
          </ng-template>
        </li>
        <li [ngbNavItem]="5">
          <button ngbNavLink>Προσωπικό</button>
          <ng-template ngbNavContent>
            <app-staff></app-staff>
          </ng-template>
        </li>
      </ul>
      
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      
      <pre>Active: {{ active }}</pre>
    </div>
  </div>
</div>
