<div class="mt-5">

  <div class="d-flex align-items-center justify-content-between">
    <h2 class="text-primary fw-bolder mb-0"></h2>
    <!-- <a class="btn btn-primary px-4 py-3" href="assets/kanonismos.pdf">
      <div class="d-inline-block bi bi-download me-2"></div>
      Κανονισμός λειτουργίας 
    </a>  -->
  </div>
  <p>
    Το Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνικά Έργα (DTC-Lab) αποτελεί το νέο εργαστηριακό περιβάλλον εξάσκησης των σπουδαστών 
    των πρώτων κυρίως ετών σε υπολογιστικά μαθήματα. Το DTC-Lab είναι το μεγαλύτερο στην Σχολή Πολιτικών Μηχανικών και διαθέτει 
    τον υπολογιστικό εξοπλισμό προκειμένου να εξυπηρετήσει τις ανάγκες των περισσοτέρων φοιτητών και διδασκόντων του ιδρύματος. 
    Στο DTC-Lab μπορούν να εργαστούν όλοι οι φοιτητές της Σχολής στα πλαίσια οργανωμένων διδακτικών ωρών ή πρακτικών ασκήσεων, 
    στις ώρες από 8:00 μέχρι 15:00 και από Δευτέρα μέχρι και Παρασκευή. Εκτός των εργαστηριακών μαθημάτων των φοιτητών, 
    διοργανώνονται σε τακτές ημερομηνίες από το DTC-Lab, σεμινάρια που απευθύνονται σε όλα τα μέλη της Σχολής.
  </p> 
  <p>
    Το DTC-Lab στεγάζεται στο πρώτο όροφο του κεντρικού κτιρίου της Σχολής Πολιτικών Μηχανικών. Το εργαστήριο ξεκίνησε 
    τη λειτουργία πριν από 20 περίπου χρόνια και συνεχίζει με αναβαθμισμένο πλέον εξοπλισμό να εξυπηρετεί μεγάλο αριθμό φοιτητών 
    ανά ακαδημαϊκό εξάμηνο. Η αίθουσα διαθέτει 60 θέσεις εργασίας, επιπλέον μιας θέσης του εκπαιδευτή που είναι εξοπλισμένη 
    με δύο οθόνες προβολής και μία κεντρική διαδραστική οθόνη. Επιπρόσθετα υπάρχει η δυνατότητα για τον εκπαιδευτή να συνδέσει 
    ένα φορητό υπολογιστή, με το διαδίκτυο αλλα και με τον οπτικοακουστικό εξοπλισμό. 
    Το εργαστήριο είναι διαθέσιμο για την εργαστηριακή εξάσκηση των φοιτητών, στα πλαίσια οργανωμένων διδακτικών ωρών, 
    καθημερινά από τις 08:00 μέχρι τις 15:00.
  </p> 

  <h3>Κανονισμός λειτουργίας</h3>
  <p>
    Το DTC-Lab λειτουργεί σύμφωνα με αναλυτικό ωρολόγιο πρόγραμμα. Πριν από την έναρξη κάθε εξαμήνου και με ευθύνη του Διευθυντή, 
    συντάσσεται το αναλυτικό ωρολόγιο πρόγραμμα το οποίο αναρτάται στην <a routerLink="/education">ιστοσελίδα του εργαστηρίου</a>. 
    Τροποποίηση του προγράμματος εγκρίνεται αρμοδίως, ανακοινώνεται εγκαίρως και αναρτάται στον ίδιο χώρο με τον αρχικό.
  </p>
  <p>
    Οι ώρες λειτουργίας του DTC-Lab είναι εφτά (7) ανά εργάσιμη μέρα (08.00 έως 15:00), με δυνατότητα επέκτασης, 
    μετά από απόφαση του Διευθυντή. Στις ώρες της κύριας λειτουργίας του DTC-Lab υποστηρίζεται από τον υπεύθυνο διαχείρισης, 
    ο οποίος έχει και τη συνολική ευθύνη της λειτουργίας του.
  </p>
  <p>Ο υπεύθυνος διαχείρισης του DTC-Lab έχει την ευθύνη και το καθήκον:</p>
    <ul>
      <li>Της διαχείρισης του όλου συστήματος.</li>
      <li>Της εγκατάστασης του λογισμικού.</li>
      <li>Της ασφάλειας και καλής λειτουργίας του εξοπλισμού και του λογισμικού. </li>
      <li>Της τήρησης της τάξης και της λήψης των αναγκαίων μέτρων για την επιτόπου αντιμετώπιση προβλημάτων. </li>
      <li>Της συνεργασίας με τον υπεύθυνο υποστήριξης του ΚΕΔ για την εύρυθμη λειτουργία της δικτυακής σύνδεσης του εργαστηρίου. </li>
      <li>Της συνεργασίας με τα υπεύθυνα μέλη ΔΕΠ ή/και τους εκάστοτε βοηθούς διδασκαλίας για την εγκατάσταση ειδικών εφαρμογών λογισμικού που απαιτούνται για τη λειτουργία του εργαστηρίου.</li>
    </ul>  
        
  <p>Η πρόσβαση στα συστήματα του DTC-Lab, γίνεται μέσω κωδικών. Οι κωδικοί πρόσβασης είναι αυστηρά προσωπικοί για κάθε χρήστη φοιτητή ή διδάσκοντα και ως εκ τούτου δεν επιτρέπεται η κοινοποίηση τους όπως και των αντίστοιχων passwords. Υπεύθυνος για την απόδοση και διαχείριση των προσωπικών κωδικών είναι το Κέντρο Η/Υ.</p>
  <p>Ο χώρος δευτερεύουσας μνήμης (αποθηκευτικός χώρος) που διατίθεται για κάθε χρήστη, είναι φυσικό να είναι περιορισμένος και σύμφωνος με τις ανάγκες του συγκεκριμένου μαθήματος ή εφαρμογής. Αιτιολογημένες αιτήσεις για διάθεση τυχόν επιπλέον χώρου - σε προσωρινή πάντοτε βάση - θα ικανοποιούνται με σύμφωνη γνώμη και φροντίδα του διαχειριστή του δικτύου.</p>
  <p>Λόγω της διεξαγωγής μαθημάτων και ασκήσεων στο DTC-Lab, προτεραιότητα χρήσης κατά τον χρόνο διεξαγωγής έχουν όσοι παρακολουθούν το μάθημα ή τις ασκήσεις. Δηλαδή κατά την διάρκεια μαθήματος ή ασκήσεως σύμφωνα με το πρόγραμμα, δεν θα επιτρέπεται η παρουσία άλλων στο χώρο εκτός αν το επιτρέπει ο διδάσκων. Για το σκοπό αυτό το πρόγραμμα των μαθημάτων - ασκήσεων που γίνονται στο DTC-Lab θα είναι ανηρτημένο στην είσοδο ώστε οι χρήστες να προγραμματίζουν ανάλογα το χρόνο τους.</p>
  <p>Δεν επιτρέπεται η παραμονή πλέον των δύο (2) χρηστών ανά θέση εργασίας. Επίσης δεν επιτρέπεται η παράλληλη χρήση περισσότερων του ενός σταθμού εργασίας από ένα χρήστη, ακόμη και αν υπάρχει πληθώρα ελεύθερων προς χρήση σταθμών.</p>
  <p>Για την αποδοτική αξιοποίηση του DTC-Lab και για την ασφάλεια των εγκαταστάσεων και του εξοπλισμού, στο χώρο του DTC-Lab δεν επιτρέπονται το κάπνισμα και η κατανάλωση ποτών και φαγητών καθώς και η χρήση του κινητού τηλεφώνου.</p>
  <p>Είναι ευνόητο ότι όταν έκτακτες ανάγκες συντήρησης το επιβάλλουν, μπορεί να επιβληθεί μερική ή ολική αναστολή της λειτουργίας του DTC-Lab, για όσο χρόνο απαιτείται. Ο διαχειριστής του δικτύου οφείλει να ενημερώνει τους χρήστες, όσο το δυνατόν νωρίτερα, είτε μέσω ηλεκτρονικού ταχυδρομείου, είτε μέσω μηνυμάτων - ανακοινώσεων κατά τη φάση της αρχικής πρόσβασης στο σύστημα, σχετικά με τις προγραμματισμένες εργασίες συντήρησης του DTC-Lab και τη διάρκεια τους, όπως και για οποιαδήποτε εκτός προγράμματος δραστηριότητα του DTC-Lab.</p>
  <p>Οι αποφοιτήσαντες διαγράφονται από τον κατάλογο χρηστών του DTC-Lab, αμέσως μετά την κοινοποίηση από τη Γραμματεία στον Διευθυντή του DTC-Lab, του αντίστοιχου καταλόγου.</p>
  <p>Όλοι οι διδάσκοντες χρήστες του DTC-Lab πρέπει να είναι ενήμεροι των όρων λειτουργίας του, αλλά και του ειδικού εκπαιδευτικού ρόλου τους ο οποίος διαφέρει από αυτόν του υπευθύνου διαχείρισης.</p>
  <p>Επιπλέον, πρέπει να επισημαίνουν σε όλους τους φοιτητές του μαθήματος τους, την ανάγκη αυστηρής τήρησης των όρων λειτουργίας και την επίδειξη σεβασμού προς τους άλλους χρήστες και την εν γένει υποδομή του DTC-Lab.</p>
  <p>Τυχόν απορίες ή προτάσεις για τους όρους λειτουργίας του DTC-Lab διευκρινίζονται και συζητούνται με τον Διευθυντή του DTC-Lab. Σε κάθε περίπτωση, πάντως, δεν αποτελούν αντικείμενο συζήτησης μεταξύ χρηστών και του υπευθύνου διαχείρισης.</p>
  <p>Η ανεύθυνη συμπεριφορά και μη συμμόρφωση με τους όρους λειτουργίας δίνει στον Διευθυντή του DTC-Lab το δικαίωμα της διακοπής της πρόσβασης και μπορεί να συνεπάγεται την απαγόρευση μελλοντικής χρήσης του DTC-Lab εάν τα όργανα της Σχολής αποφασίσουν κάτι τέτοιο. </p>

  <h3>Τρόπος Χρήσης</h3>
  <p>Το DTC-Lab εξυπηρετεί όλα τα μέλη της Σχολής. Μέλη ΔΕΠ της Σχολής που επιθυμούν να χρησιμοποιήσουν τους χώρους του DTC-Lab, πρέπει να στείλουνε email στη διεύθυνση dtclab&#64;mail.ntua.gr σε εύλογο χρόνο πριν από τη έναρξη κάθε ακαδημαϊκού εξαμήνου. Η αίτηση, μαζί με τα απαραίτητα συνοδευτικά της (π.χ. το λογισμικό που το μέλος ΔΕΠ θα επιθυμούσε να χρησιμοποιήσει στην περίπτωση που δεν καλύπτεται από το λογισμικό που διαθέτει το DTC-Lab), πρέπει να φτάνει στη Γραμματεία του DTC-Lab το αργότερο τρεις εβδομάδες πριν από την έναρξη των μαθημάτων. Με την ολοκλήρωση της λήψης των αιτήσεων και εφόσον δεν υπάρχει πρόβλημα (π.χ. συγκρουόμενες αιτήσεις ωρών) όλοι οι ενδιαφερόμενοι λαμβάνουν επιβεβαίωση της αίτησης τους και αυτή θεωρείται οριστικοποιημένη.</p>
  <p>Το αργότερο δύο εβδομάδες πριν από την έναρξη του ακαδημαϊκού εξαμήνου όλες οι λεπτομέρειες για τη χρήση του DTC-Lab πρέπει να είναι ξεκαθαρισμένες. Ακολουθεί η περίοδος προσαρμογής των σταθμών εργασίας του DTC-Lab και το εργαστήριο παραμένει κλειστό για τους φοιτητές. Οι διδάσκοντες, μια εβδομάδα πριν από την έναρξη των εργαστηριακών μαθημάτων ελέγχουν την προσαρμογή των σταθμών εργασίας και επιβεβαιώνουν την ορθή λειτουργία τους.</p>
  <p>Μετά την έναρξη του ακαδημαϊκού εξαμήνου δεν είναι δυνατή νέα προσαρμογή των σταθμών εργασίας!</p>

  <h3>Χώροι - Υλικό - Λογισμικό</h3>
  <p>Η δυναμικότητα της αίθουσας είναι 60 θέσεων για τους φοιτητές και επιπλέον μιας θέσης για τον εκπαιδευτή. Στην αίθουσα υπάρχουν οπτικοακουστικά συστήματα (οθόνες προβολής, διαδραστική οθόνη) και υπάρχει η δυνατότητα σύνδεσης φορητού υπολογιστή για τον εκπαιδευτή. Η σύνθεση των σταθμών εργασίας και το διαθέσιμο λογισμικό βρίσκονται σε συνεχή αναβάθμιση και η τρέχουσα κατάστασή του αποτυπώνεται στη σχετική σελίδα του DTC-Lab.</p>
  <p>Στην περίπτωση που το διαθέσιμο λογισμικό δεν καλύπτει τις διδακτικές απαιτήσεις για κάποιο εργαστηριακό μάθημα, το ενδιαφερόμενο μέλος ΔΕΠ παρέχει στο προσωπικό του DTC-Lab το λογισμικό που θα ήθελε να χρησιμοποιήσει.</p>
  <p>Επιπλέον λογισμικό εγκαθίσταται στους σταθμούς εργασίας του DTC-Lab μόνο στην περίπτωση που υπάρχουν οι απαραίτητες άδειες για τη νόμιμη χρήση του και η εγκατάσταση-χρήση του δεν υπερβαίνει τους βασικούς κανόνες ασφάλειας που έχουν τεθεί για τα συστήματα του DTC-Lab.</p>

  <h3>Βασικοί κανόνες ασφάλειας</h3> 
  <p>Το DTC-Lab εξυπηρετεί ανάγκες όλων των μελών της Σχολής. Κατά συνέπεια οι απαιτήσεις διαθεσιμότητας του DTC-Lab είναι ιδιαίτερα αυξημένες. Με δεδομένη την ιδιομορφία του λειτουργικού συστήματος αναγκαστικά θεσπίστηκαν κανόνες ασφάλειας με αποτέλεσμα ο απλός χρήστης να είναι περιορισμένος στα δικαιώματα που από ορισμό έχει στον προσωπικό του υπολογιστή.</p>
  <p>Ο αποκλειστικός διαχειριστής (administrator) όλων των σταθμών εργασίας είναι ο διαχειριστής του DTC-Lab και κανένας άλλος.</p> 

  <p>Ενδεικτικά αναφέρουμε τους παρακάτω περιορισμούς:</p>
  <p>Περιορισμένη πρόσβαση στο δίσκο: Ο χρήστης και το πρόγραμμα που χρησιμοποιεί έχουν πλήρη πρόσβαση (READ-WRITE-DELETE-EXECUTE) ΜΟΝΟ στον κατάλογο του profile του χρήστη. Σε οποιοδήποτε άλλο χώρο τα δικαιώματα είναι READ-EXECUTE και μόνο αυτά.</p>
  <p>Άμεση συνέπεια αυτού του περιορισμού είναι ότι αποκλείεται η χρήση προγραμμάτων που λειτουργούν μόνο όταν ο χρήστης που τα καλεί έχει πλήρη δικαιώματα σε όλο το δίσκο ή/και στο σύστημα γενικότερα, όπως για παράδειγμα όλα εκείνα τα προγράμματα που κατά τη διάρκεια της εκτέλεσής τους πρέπει να αλλάζουν το μητρώο (registry) του συστήματος Στις ρυθμίσεις του περιβάλλοντος των Windows (π.χ. αλλαγή του screen saver, του wallpaper, κ.α.). Για το σκοπό αυτό έχει υλοποιηθεί ένα σύνολο περιορισμών περιβάλλοντος που είναι κοινό για όλους τους χρήστες του DTC-Lab.</p>

  <h3>Σειρά προτεραιότητας ικανοποίησης αιτήσεων</h3>
  <p>Σύμφωνα με απόφαση της Συγκλήτου του ΕΜΠ τα ΕΠΥ υποστηρίζουν τις εκπαιδευτικές λειτουργίες των Τμημάτων του κατά απόλυτη προτεραιότητα στα πλαίσια εισαγωγικών μαθημάτων πληροφορικής και χρήσης Η/Υ. Συνεπώς στη περίπτωση ύπαρξης συγκρουόμενων αιτήσεων ωρών θα δίνεται προτεραιότητα στα μαθήματα του 1ου και 2ου έτους των Τμημάτων. Μαθήματα μεγαλύτερων ετών που συγκρούονται ωριαία με τα εισαγωγικά μαθήματα θα πρέπει να επαναπροσδιορίσουν τις αιτούμενες ώρες και η διαδικασία θα συνεχίζεται μέχρις ότου είτε κλεισθούν όλες οι ώρες ή ικανοποιηθούν όλες οι αιτήσεις.</p>
</div>