<div class="card shadow border-0 rounded-4 mb-5 mt-5">
  <div class="card-body p-5">
    <div class="row align-items-center gx-5">
      <div class="col text-center text-lg-start mb-4 mb-lg-0">
        <div class="bg-light p-4 rounded-4">
          <div class="text-primary fw-bolder mb-2">Δημήτριος Μέλισσας</div>
          <div class="small fw-bolder">Καθηγητής</div>
          <div class="small text-muted">Διευθυντής DTC-Lab</div>
        </div>
      </div>
      <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
    </div>
  </div>
</div>

<div class="card shadow border-0 rounded-4 mb-5 mt-5">
  <div class="card-body p-5">
    <div class="row align-items-center gx-5">
      <div class="col text-center text-lg-start mb-4 mb-lg-0">
        <div class="bg-light p-4 rounded-4">
          <div class="text-primary fw-bolder mb-2">Αθανάσιος Στάμος</div>
          <div class="small fw-bolder">Ε.ΔΙ.Π - Διδάκτορας</div>
          <div class="small text-muted">Τομέας Δομοστατικής</div>
        </div>
      </div>
      <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
    </div>
  </div>
</div>

<div class="card shadow border-0 rounded-4 mb-5 mt-5">
  <div class="card-body p-5">
    <div class="row align-items-center gx-5">
      <div class="col text-center text-lg-start mb-4 mb-lg-0">
        <div class="bg-light p-4 rounded-4">
          <div class="text-primary fw-bolder mb-2">Ευαγγελία Φραγγεδάκη</div>
          <div class="small fw-bolder">Ε.ΔΙ.Π</div>
          <div class="small text-muted">DTC-Lab</div>
        </div>
      </div>
      <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
    </div>
  </div>
</div>

<div class="card shadow border-0 rounded-4 mb-5 mt-5">
  <div class="card-body p-5">
    <div class="row align-items-center gx-5">
      <div class="col text-center text-lg-start mb-4 mb-lg-0">
        <div class="bg-light p-4 rounded-4">
          <div class="text-primary fw-bolder mb-2">Μάρκος Καραμπάτσης</div>
          <div class="small fw-bolder">Ε.ΔΙ.Π</div>
          <div class="small text-muted">DTC-Lab</div>
        </div>
      </div>
      <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
    </div>
  </div>
</div>

<div class="card shadow border-0 rounded-4 mb-5 mt-5">
  <div class="card-body p-5">
    <div class="row align-items-center gx-5">
      <div class="col text-center text-lg-start mb-4 mb-lg-0">
        <div class="bg-light p-4 rounded-4">
          <div class="text-primary fw-bolder mb-2">Χριστόδουλος Φραγκουδάκης</div>
          <div class="small fw-bolder">Ε.ΔΙ.Π - Διδάκτορας</div>
          <div class="small text-muted">DTC-Lab</div>
        </div>
      </div>
      <div class="col-lg-8"><div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus laudantium, voluptatem quis repellendus eaque sit animi illo ipsam amet officiis corporis sed aliquam non voluptate corrupti excepturi maxime porro fuga.</div></div>
    </div>
  </div>
</div>