<!-- Projects Section-->
<div class="container my-5">
  <div class="row gx-5 justify-content-center">
    <div class="col-lg-11 col-xl-9 col-xxl-8">
      @if (images) {
        <ngb-carousel>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[0]" alt="Random first slide" class="rounded" />
            </div>
            <div class="carousel-caption">
              <h4>Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνικά Έργα</h4>
              <p>Ωρολόγιο Πρόγραμμα</p>
            </div>
          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img [src]="images[1]" alt="Random second slide" class="rounded" />
            </div>
            <div class="carousel-caption">
              <h4>Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνικά Έργα</h4>
              <p>Κανόνες Χρήσης</p>
            </div>
          </ng-template>
        </ngb-carousel>
      }
    </div>
  </div>
  <div class="row gx-5 justify-content-center mt-5">
    <div class="col-lg-11 col-xl-9 col-xxl-8">
      <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
          <button ngbNavLink>Ωρολόγιο Πρόγραμμα</button>
          <ng-template ngbNavContent>
            <app-program></app-program>
          </ng-template>
        </li>
        <li [ngbNavItem]="2">
          <button ngbNavLink>Τρόπος Χρήσης</button>
          <ng-template ngbNavContent>
            <app-general></app-general>
          </ng-template>
        </li>
      </ul>
      
      <div [ngbNavOutlet]="nav" class="mt-2"></div>
      
      <!-- <pre>Active: {{ active }}</pre> -->
    </div>   
  </div>
</div>

