<div class="d-flex align-items-center justify-content-between mx-5">
  <h2 class="text-primary fw-bolder mb-0"></h2>
  <a class="btn btn-primary px-4 py-3" href="assets/FEK_ERGPSIFIAKA_ERGA_IDRISI_PM.pdf">
    <div class="d-inline-block bi bi-download me-2"></div>
    Φεκ εργαστηρίου 
  </a> 
</div>
<p>
  To 2022 το Εργαστήριο Προσωπικών Υπολογιστών της Σχολής Πολιτικών Μηχανικών μετονομάστηκε σε 
  Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνικά Έργα (Digital Technology 
  Laboratory for Technical Projects). Ταυτόχρονα το εργαστήριο θεσμοθετήθηκε με το ΦΕΚ 5943/21-11-2022
</p>

<h3>Σκοπός - Αποστολή</h3>
<p>
  Το Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνίκά Έργα (Digital Technology Laboratory for Technical 
  Projects) εξυπηρετεί τις εκπαιδευτικές και ερευνητικές ανάγκες, καθώς και την παροχή υπηρεσιών σε φυσικά και 
  νομικά πρόσωπα στα ακόλουθα γνωστικά αντικείμενα, κατανεμημένα σε τέσσερις ενότητες ως εξής:
</p>

<ul>
  <li>Τεχνητή νοημοσύνη και μηχανική μάθηση στα Τεχνικά Έργα, Επιχειρησιακή Έρευνα και Βελτιστοποίηση στα Τεχνικά Έργα.</li>
  <li>Τεχνολογία Blockchain στα Τεχνικά Έργα, Τεχνολογία μοντέλων δομικών πληροφοριών (Βuilding Information Modelling - BIM) 
    στα Τεχνικά Έργα, Εφαρμογές εικονικής και επαυξημένης πραγματικότητας στα Τεχνικά Έργα.</li>
  <li>3Δ εκτύπωση και 3Δ αποτύπωση στα Τεχνικά Έργα, Συλλογή δεδομένων με αισθητήρες και ΣμηΕΑ (drones) 
    και ανάλυση μεγάλου όγκου δεδομένων στα Τεχνικά Έργα, Ψηφιακό δίδυμο στα Τεχνικά Έργα.</li>
  <li>Συμβολή-Υποστήριξη στη σύνταξη/αναθεώρηση Κανονισμών, Προδιαγραφών και Προτύπων.</li>
</ul>

<p>Το Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνικά έχει ως αποστολή:</p>
<ul>
  <li>Την υποστήριξη σε προπτυχιακό, μεταπτυχιακό και μεταδιδακτορικό επίπεδο των διδακτικών και ερευνητικών αναγκών της Σχολής Πολιτικών Μηχανικών του Ε.Μ. 
    Πολυτεχνείου σε θέματα σχετικά με τα προαναφερόμενα γνωστικά αντικείμενα.
  </li>
  <li>Την ανάπτυξη ερευνητικών, επιστημονικών και πάσης φύσεως συναφών δραστηριοτήτων στις οριζόμενες 
    ως άνω γνωστικές περιοχές του Εργαστηρίου, σύμφωνα με τις γενικές αρχές και κανονισμούς της ΕΔΕΙΛ του 
    Ε.Μ.Π., όπως αυτές ορίζονται από τη Σύγκλητο.
  </li>
  <li>Την ανάπτυξη της επιστήμης των Η/Υ και της Πληροφορικής, στο σύστημα σπουδών της Σχολής Πολιτικών 
    Μηχανικών του Ε.Μ. Πολυτεχνείου, με ταυτόχρονη ισχυρή υποστήριξη της πρακτικής άσκησης όλων των φοιτητών στην χρήση Η/Υ. Να υποστηρίζει τις εκπαιδευτικές 
    λειτουργίες της Σχολής, στα πλαίσια εξυπηρέτησης αναγκών εισαγωγικών μαθημάτων πληροφορικής και χρήσης Η/Υ, κατά προτεραιότητα, αλλά και άλλων προπτυχιακών και μεταπτυχιακών μαθημάτων, που καθορίζονται 
    από τη Γ.Σ της Σχολής, παρέχοντας προς τους φοιτητές 
    σταθμούς εργασίας προσωπικών Η/Υ συνδεδεμένων σε 
    τοπικό δίκτυο και στο Internet και εφοδιασμένων με τις 
    κατάλληλες εφαρμογές λογισμικού.
  </li>
  <li>
    Την ανάπτυξη προγραμμάτων διδασκαλίας και έρευνας για μεταπτυχιακούς φοιτητές, στο πλαίσιο των συναφών γνωστικών αντικειμένων του Εργαστηρίου.
  </li>
  <li>
    Την κάθε μορφής ακαδημαϊκή συνεργασία με όλα τα κέντρα ερευνών και ακαδημαϊκά ιδρύματα της ημεδαπής και αλλοδαπής.
  </li>
  <li>
    Τη συνεργασία με το στενό και ευρύτερο δημόσιο τομέα και άλλους κοινωνικούς, επαγγελματικούς και 
    επιστημονικούς φορείς και οργανισμούς και γενικά τη συμβολή του Εργαστηρίου στη μελέτη προβλημάτων 
    και αναπτυξιακών στόχων της χώρας που έχουν σχέση με τα γνωστικά αντικείμενα του Εργαστηρίου.
  </li>
  <li>Τη διοργάνωση επιστημονικών διαλέξεων, ημερίδων, σεμιναρίων, συμποσίων, συνεδρίων και άλλων 
    επιστημονικών εκδηλώσεων, την πραγματοποίηση δημοσιεύσεων και εκδόσεων, και την πρόσκληση Ελλήνων 
    και ξένων αναγνωρισμένων επιστημόνων.
  </li>
  <li>
    Την παροχή υπηρεσιών σε ιδιώτες/ιδιωτικούς φορείς και σε κάθε νομικής μορφής οργανισμούς ή φορείς, σύμφωνα με την κείμενη 
    νομοθεσία. Η παροχή υπηρεσιών γίνεται κατά τα προβλεπόμενα από τον Οδηγό Χρηματοδότησης και Διαχείρισης της ΕΔΕΙΛ του Ε.Μ.Π.
  </li>
  <li>Τη στέγαση και ενίσχυση της δράσης επιστημονικών ομάδων σχετικών με το γνωστικό αντικείμενο του  Εργαστηρίου</li>
</ul>