<p>Το Εργαστήριο Ψηφιακής Τεχνολόγίας για Τεχνικά Έργα (dtc-lab), πρώην Εργαστήριο Προσωπικών ΥπολογιστώνΚέντρο 
  της Σχολής Πολιτικών Μηχανικών του Εθνικού Μετσόβιου Πολυτεχνείου εξυπηρετεί συνεχώς από το 1998 τις εκπαιδευτικές, 
  ερευνητικές και αναπτυξιακές ανάγκες της Σχολής.
</p>

<p>Ολοκληρώνοντας την δεύτερη δεκαετία λειτουργίας του και μπαίνοντας στη τρίτη, το dtc-lab διαθέτει σύγχρονα και 
  προσαρμοσμένα στην τεχνολογική εξέλιξη συστήματα διαφορετικής δομής και δυνατοτήτων με όλα τα απαραίτητα Λογισμικά εργαλεία 
  (μαθηματικές και στατιστικές βιβλιοθήκες, πληθώρα "πακέτων" τεχνικών εφαρμογών, εργαλεία ανάπτυξης προγραμμάτων και εφαρμογών κ.ά.), 
  έτσι ώστε να εξυπηρετούνται με τον καλύτερο δυνατό τρόπο οι Ακαδημαϊκές υπολογιστικές ανάγκες, όπως αυτές διαμορφώνονται δυναμικά. 
</p>