<p>
  Το Εργαστήριο Ψηφιακής Τεχνολογίας για Τεχνικά Έργα (dtc-lab), πρώην Εργαστήριο Προσωπικών Υπολογιστών 
  της Σχολής Πολιτικών Μηχανικών του Εθνικού Μετσόβιου Πολυτεχνείου εξυπηρετεί συνεχώς για περισσότερα από 20 χρόνια τις 
  εκπαιδευτικές, ερευνητικές και αναπτυξιακές ανάγκες της Σχολής.
</p>

<p>
  Ολοκληρώνοντας την δεύτερη δεκαετία λειτουργίας του και μπαίνοντας στη τρίτη, το dtc-lab έχει ξεκινήσει μια προσπάθεια να 
  προμηθευτεί σύγχρονα και προσαρμοσμένα στην τεχνολογική εξέλιξη συστήματα διαφορετικής δομής και δυνατοτήτων με όλα τα απαραίτητα
  Λογισμικά εργαλεία (μαθηματικές και στατιστικές βιβλιοθήκες, πληθώρα "πακέτων" τεχνικών εφαρμογών, εργαλεία ανάπτυξης προγραμμάτων και εφαρμογών κ.ά.), 
  έτσι ώστε να εξυπηρετούνται με τον καλύτερο δυνατό τρόπο οι ακαδημαϊκές υπολογιστικές ανάγκες, όπως αυτές διαμορφώνονται δυναμικά. 
</p>